:root {

  // Font Families
  --font-Calibre:   Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
  --font-SFMono:    "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;

  // Background Colors
  --bg-c-navy:          #0a192f;
  --bg-c-dark-navy:     #020c1b;
  --bg-c-light-navy:    #172a45;
  --bg-c-dark-grey:     #333f58;
  --bg-c-slate:         #8892b0;
  --bg-c-light-slate:   #a8b2d1;
  --bg-c-lightest-slate:#ccd6f6;
  --bg-c-white:         #e6f1ff;
  --bg-c-green:         #64ffda;
  --bg-c-blue:          #71AFFF;
  --bg-c-trans-green:   rgba(100, 255, 218, 0.07);
  --bg-c-medium-grey :  #2d3952;
  --bg-c-shadow-navy :  rgba(2, 12, 27, 0.7);

  // Colors
  --c-navy:             #0a192f;
  --c-dark-navy:        #020c1b;
  --c-light-navy:       #172a45;
  --c-dark-grey:        #333f58;
  --c-slate:            #8892b0;
  --c-light-slate:      #a8b2d1;
  --c-lightest-slate:   #ccd6f6;
  --c-white:            #e6f1ff;
  --c-green:            #64ffda;
  --c-blue:             #71AFFF;
  --c-trans-green:      rgba(100, 255, 218, 0.07);
  --c-medium-grey :     #2d3952;
  --c-shadow-navy :     rgba(2, 12, 27, 0.7);

  // Transition
  --transition:   all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  --easing :      cubic-bezier(0.645, 0.045, 0.355, 1);

  // Font Sizes
  --fs-xs:    12px;
  --fs-smish: 13px;
  --fs-sm:    14px;
  --fs-md:    16px;
  --fs-lg:    18px;
  --fs-xl:    20px;
  --fs-xxl:   22px;
  --fs-h3:    32px;

  // Highlight Color
  --highlight: rgba(41, 61, 90, 0.99);

}
