@import "../../../styles/variable";
@import "../../../styles/common";

.home {
  @extend %flexCenter;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  div {
    width: 100%;
  }
}

// Hero
.overline {
  color: var(--c-green);
  margin: 0 0 20px 3px;
  font-size: var(--fs-md);
  font-family: var(--font-SFMono);
  font-weight: normal;
}
.title {
  font-size: 80px;
  line-height: 1.1;
  margin: 0;
}
.subtitle {
  font-size: 80px;
  line-height: 1.1;
  color: var(--c-slate);
}
.description {
  margin-top: 35px;
  width: 50%;
  max-width: 500px;
  a {
    @extend %inlineLink;
  }
}
.getintouch {
  @extend %bigButton;
  margin-top: 50px;
}

// About
.aboutFlexContainer {
  @extend %flexBetween;
  align-items: flex-start;
}

.aboutContent {
  width: 60%;
  max-width: 480px;
  a {
    @extend %inlineLink;
    margin: 0 2.5px;
  }
  ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    overflow: hidden;
    margin-top: 20px;
    li {
      position: relative;
      margin-bottom: 10px;
      padding-left: 20px;
      font-family: var(--font-SFMono);
      font-size: var(--fs-smish);
      color: var(--c-slate);
      &:before {
        content: "▹";
        position: absolute;
        left: 0;
        color: var(--c-green);
        font-size: var(--fs-sm);
        line-height: 12px;
      }
    }
  }
}

.aboutPic {
  position: relative;
  width: 40%;
  max-width: 300px;
  margin-left: 60px;
  a {
    @extend %boxShadow;
    width: 100%;
    position: relative;
    border-radius: 3px;
    background-color: var(--bg-c-green);
    margin-left: -20px;
    &:hover,
    &:focus {
      background: transparent;
      &:after {
        top: 15px;
        left: 15px;
      }
      img {
        filter: none;
        mix-blend-mode: normal;
      }
    }
    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 3px;
      transition: var(--transition);
    }
    &:before {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var(--c-navy);
      mix-blend-mode: screen;
    }
    &:after {
      border: 2px solid var(--c-green);
      top: 20px;
      left: 20px;
      z-index: -1;
    }
  }
  img {
    position: relative;
    mix-blend-mode: multiply;
    filter: grayscale(100%) contrast(1);
    border-radius: 3px;
    transition: var(--transition);
  }
}

// Heading
.heading, %heading {
  position: relative;
  display: flex;
  align-items: center;
  margin: 10px 0 40px;
  width: 100%;
  white-space: nowrap;
  font-size: 32px;
  &:before {
    counter-increment: section;
    content: "0" counter(section) ".";
    margin-right: 10px;
    font-family: var(--font-SFMono);
    font-weight: normal;
    color: var(--c-green);
    font-size: var(--fs-xl);
    position: relative;
    bottom: 4px;
  }
  &:after {
    content: "";
    display: block;
    height: 1px;
    width: 300px;
    background-color: var(--bg-c-medium-grey);
    position: relative;
    top: -5px;
    margin-left: 20px;
  }
}

.headingCenter {
  @extend   %heading;
  display: block;
  color:  var(--c-green);
  font-size:  var(--fs-md);
  font-family:var(--font-SFMono);
  font-weight: normal;
  margin-bottom: 20px;
  justify-content: center;

  &:before {
    bottom: 0;
    font-size: var(--fs-sm);
  }
  &:after {
    display: none;
  }
}


// Jobs
.jobTabs {
  display: flex;
  align-items: flex-start;
  position: relative;
  ul {
    display: block;
    position: relative;
    width: max-content;
    z-index: 3;
    li {
      button {
        @extend %link;
        display: flex;
        align-items: center;
        width: 100%;
        background-color: transparent;
        height: 42px;
        padding: 0 20px 2px;
        transition: var(--transition);
        border-left: 2px solid var(--c-dark-grey);
        text-align: left;
        white-space: nowrap;
        font-family: var(--font-SFMono);
        font-size: var(--fs-smish);
        color: var(--bg-c-light-grey);
        &:hover,
        &:focus {
          background-color: var(--bg-c-light-navy);
        }
      }
    }
  }
}
.buttonActive {
  color: var(--c-green)!important;
  border-left: 2px solid var(--c-green)!important;
}
.jobContent {
  position: relative;
  padding-top: 12px;
  padding-left: 30px;
}

.jobTabContent {
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  // opacity: ${props => (props.isActive ? 1 : 0)};
  // z-index: ${props => (props.isActive ? 2 : -1)};
  // position: ${props => (props.isActive ? 'relative' : 'absolute')};
  // visibility: ${props => (props.isActive ? 'visible' : 'hidden')};
  // transition: ${theme.transition};
  // transition-duration: ${props => (props.isActive ? '0.5s' : '0s')};
  ul {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
    font-size: var(--fs-lg);
    li {
      position: relative;
      padding-left: 30px;
      margin-bottom: 10px;
      &:before {
        content: '▹';
        position: absolute;
        left: 0;
        color: var(--c-green);
        line-height: var(--fs-xl);
      }
    }
  }
  a {
    @extend %inlineLink;
  }
}

.jobTitle {
  color: var(--c-light-slate);
  font-size:  var(--fs-xxl);
  font-weight: 500;
  margin-bottom: 5px;
}
.jobCompany {
  color: var(--c-green);
}
.jobDetail {
  font-family: var(--font-SFMono);
  font-size:  var(--fs-smish);
  font-weight: normal;
  letter-spacing: 0.5px;
  color: var(--c-light-slate);
  margin-bottom: 30px;
  svg {
    width: 15px;
  }
}
.jobDescription {
  ul {
    padding: 0;
    width: 100%;
    margin: 0;
    list-style: none;
    font-size: var(--fs-lg);
    li {
      position: relative;
      padding-left: 30px;
      margin-bottom: 10px;
      &:before {
        content: '▹';
        position: absolute;
        left: 0;
        color: var(--c-green);
        line-height: var(--fs-xl);
      }
    }
  }
}


// Contact
.contact {
  text-align: center;
  max-width: 600px;
  margin: 0 auto 100px;
  a {
    @extend %inlineLink;
  }
  .title {
    margin: 0 0 20px;
    font-size: 60px;
  }
  .bigButton {
    @extend %bigButton;
    margin-top: 50px;
  }
}

// Work
.work {
  h4 {
    font-size: var(--fs-smish);
  font-weight: normal;
  color: var(--c-green);
  font-family: var(--font-SFMono);
  margin-top: 10px;
  padding-top: 0;
  }
  h5 {
    font-size: 28px;
    font-weight: 600;
    margin: 0 0 20px;
    color: var(--c-light-slate);
  }
  .description {
    @extend %boxShadow;
    position: relative;
    z-index: 2;
    padding: 25px;
    background-color: var(--bg-c-light-navy);
    color: var(--c-light-slate);
    font-size: var(--fs-lg);
    border-radius: 3px;
    p {
      margin: 0;
    }
    a {
      @extend %inlineLink;
    }
  }
  .list {
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    margin: 25px 0 10px;
    li {
      font-family: var(--font-SFMono);
      font-size:var(--fs-smish);
      color: var(--c-slate);
      margin-right: 20px;
      margin-bottom: 7px;
      white-space: nowrap;
      &:last-of-type {
        margin-right: 0;
      }

    }
  }
  .link {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 10px;
    margin-left: -10px;
    color: var(--c-light-slate);
    a {
      padding: 10px;
      svg {
        width: 22px;
        height: 22px;
      }
    }
  }
}
