@import "../../styles/variable";
@import "../../styles/common";

.footer {
 @extend %flexCenter;
  flex-direction: column;
  padding: 15px;
  background-color: var(--bg-c-dark-navy);
  color: var(--c-slate);
  text-align: center;
  height: auto;
  min-height: 70px;
  // div {

  // }


}
.content {

    color: var(--c-light-slate);
  width: 100%;
  max-width: 270px;
  // margin: 0 auto 10px;
  margin: 10px 0;
  font-family: var(--font-SFMono);
  font-size: var(--fs-xs);
  line-height: 1;
  a {
    color:var(--c-light-slate);
    div {
      margin-top: 10px;
      & > span {
        display: inline-flex;
        align-items: center;
        margin: 0 7px;
      }
      svg {
        display: inline-block;
        height: 15px;
        width: auto;
        margin-right: 5px;
      }
    }
  }

}
